{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UrlShortener</title>
	<!--Include Bootstrap CSS-->
	<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"
  />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
    	<h1 class="text-center">URL Shortner</h1>
    	<div class="row">
	        <form role="form" action="" method="post" class="col-md-8 col-md-offset-2">
	        	{% csrf_token %}
	        	<div class="form-group">
	        		<label for="id_url">Long URL:</label>
	        		{{ form.url|attr:"class:form-control input-lg"|attr:"placeholder:Example: https://www.youtube.com/watch?v=Y2VF8tmLFHw" }}
	        		<p class="help-block text-right">Enter the lengthy URL you want to shorten.</p>
	        	</div>
	        	{% if error %}
	        	<div class="text-center container">Enter the https:// or http:// in the starting of URL</div>
	        	{% endif %}
	        	<div class="form-group col-md-4 col-md-offset-4">
	        		<label for="id_host">Service/Host:</label>
	        		{{ form.host|attr:"class:form-control" }}
	        		<p class="help-block text-center">Choose the service you want to use.</p>
	        	</div>
	        	<div class="form-group text-center col-md-12">
	            	<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	            </div>
	        </form>
        </div>
        <div class="row">
        	<div class="text-center col-md-6 col-md-offset-3">			
			
				  <div style="display:flex; justify-content:center; align-items:center">
				  {% if short_url %}
					<h2 id="url">{{ short_url }}</h2> 
					<span id="copy-icon"  style="cursor:pointer; margin-left:2rem;" title="Copy URL">
						<i class="material-icons">content_copy</i>
					</span>
				  </div>

					<img src="http://chart.apis.google.com/chart?cht=qr&chl={{ short_url }}&chs=180x180" />
				{%else%}
				</div>
				{% endif %}
			</div>
        </div>
    </div>
</body>   



{% comment %} Copy url to clipboard {% endcomment %}
<script>
	try{
		text = document.getElementById("url").innerText;
		document.getElementById("copy-icon").onclick = ()=>{
			elem = document.createElement("textarea");
			document.body.appendChild(elem);
			elem.value = text;
			elem.select();
			document.execCommand("copy");
			document.body.removeChild(elem);
		}
	}
	catch(err){}
</script>

</html> 
