# virtualenv stuff

env/
urlenv/
venv/
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

#IDE stuff
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# private_settings should hold all security sensitive items
# SECRET_KEY, EMail passwords, API keys, etc.
private_settings.py

# it's bad practice to include the database in version control
# it's better to write a script that will load the development
# database with test values
*.sqlite3