-e .
appdirs==1.4.3
certifi==2018.8.24
chardet==3.0.4
Django==2.1.2
pytest-django
pytest-pythonpath
django-widget-tweaks==1.4.3
idna==2.7
packaging==18.0
pyparsing==2.2.2
pyshorteners==0.6.1
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23
djangorestframework==3.8.2
